button {
  transition: background-color 0.2s ease-out;
  background-color: rgb(52, 211, 153);
  color: #fff;
  font-weight: 600;
  border-radius: 4px;
  padding: 8px 16px;
  margin: 4px 0;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

button:hover {
  background-color: rgb(16, 185, 129);
}

button:active {
  background-color: rgb(5, 150, 105);
}

input[disabled],
button[disabled] {
  background-color: #ccc;
  color: #f3f3f3;
  cursor: not-allowed;
}

input[disabled]:hover,
button[disabled]:hover {
  background-color: #ccc !important;
  color: #f3f3f3 !important;
}

a {
  color: #6f6fff;
}

a:hover {
  text-decoration: underline;
}
