.controls {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  padding: 8px 24px;
  border-bottom-left-radius: 8px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.1);
}

.controls label {
  display: flex;
  align-items: center;
  margin: 8px 0;
  font-size: 13px;
}

.controls label p {
  display: inline-block;
  margin-right: 8px;
}

.controls input:not([type="file"]):not([type="range"]) {
  border: solid 1px #ccc;
}

.controls input[type="text"],
.controls input[type="number"] {
  flex-grow: 1;
}

.controls input[type="text"] {
  padding: 0 8px;
}

.controls input[type="number"] {
  padding-left: 8px;
}
